<div class="container">
  <h1>Clips</h1>
  <img id="lac" src="http://2.bp.blogspot.com/-v5HUDTLMbg8/TZDzsQP73nI/AAAAAAAAAC0/4xx-ZICicRA/s1600/clippers.jpg">
  <img src="http://stream1.gifsoup.com/view/101958/darius-miles-antenna-o.gif">
</div>
