<div class="container">
  <h1>Welcome to NBA Sinatra!</h1>
  <p>Hello, world!</p>
  
  <img src="http://www.logodesignlove.com/images/classic/nba-logo.jpg" id="nba">

  <br>
  <br>
  <br>
  <form action="/cool_url" method="get">
    <input type="radio" name="teams" value="Clippers"> Clippers<br><br>
    <input type="submit" value="See Your Team">
  </form>
  <br>
  <br>
  <br>
  <form action="/cool_url" method="post">
     Enter your favorite Kings player:
    <br><br>
    <input type="text" name="user_input">
    <input type="submit" value="See The Team">
  </form>
  <br>
  <br>
  <br>
  
</div>
