<div class="container">
  <h1>Your favorite Kings player is: <span><%= @player %></span></h1>


  <img id="sac" src="http://briandetrick.com/wp-content/uploads/2013/03/sacramento_kings_players-10010.jpg">
  <br><br>
  <form id="kings_players" method="post">
     Enter another favorite Kings player:
    <br><br>
    <input type="text" name="user_input">
    <input type="submit" value="See His Name!">
  </form>
</div>
